/* ultility class */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  color: #404040;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 2em;
}
.dropdown-item.active, .dropdown-item:active {
  color: #dc4f72;
  text-decoration: none;
  background: none;
}
/* header */
.header {
  background-color: #fff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  height: 90px;
}
.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.dropdown-menu{
  min-width: 11rem;
  padding: 1rem 0 0.3rem;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 6px;
  transform: translateX(-50px);
}
.dropdown-menu .dropdown-item{
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #2c3038;
  padding-top: 0;
  padding-bottom: 14px;
}
.dropdown-menu .dropdown-item::after{
  content: "";
  position: absolute;
  left: 16px;
  bottom: 14px;
  width: 0px;
  height: 2px;
  background-color: #dc4f72;
  transition: all 0.5s;
  
}
.dropdown-menu li:hover .dropdown-item::after{
  width: 20px;
  
}
.dropdown-menu li:hover .dropdown-item{
  color: #dc4f72;
  text-decoration: none;
  outline: none;
  background: none;
}
.header .navbar-brand {
  font-size: 26px;
  font-weight: 700;
  color: #dc4f72;
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
}
.header .navbar-nav .nav-item {
  padding: 0 15px;
}
.header .navbar-nav .nav-item .nav-link {
  padding: 14px 0;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  color: #2c3038;
}
.header .navbar-nav .nav-item .nav-link.active {
  color: #dc4f72;
}
.header .navbar-nav .nav-item:hover .nav-link {
  color: #dc4f72;
  transition: all 0.5s;
}
.header .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  bottom: 13px;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: #dc4f72;
  transition: all 0.5s;
}
.header .navbar-nav .nav-item:hover .nav-link::before {
  width: 20px;
}
.navbar-expand-lg {
  display: flex;
  align-items: center;
}
.header .navbar_search i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 15px;
  color: #5a5a5a;
  opacity: 0.7;
  background-color: #f7f9fc;
  cursor: pointer;
}
.header .navbar_search i:hover {
  opacity: 1;
  color: #2c3038;
}
.header .navbar_button button {
  padding: 0 30px;
  line-height: 54px;
  font-size: 14px;
  font-weight: 700;
  border-color: #dc4f72;
  color: #dc4f72;
  transition: all 0.5s;
}
.header .navbar_button button:hover {
  background-color: #dc4f72;
  color: #fff;
}
/* location */
.location .location_content {
  font-size: 14px;
  color: #2c3038;
}
.location .location_content a {
  color: #dc4f72;
  font-size: 14px;
  text-decoration: none;
}
.location .location_content a:hover {
  text-decoration: underline;
}
/* footer */
footer {
  background-color: #f7f9fc;
}
.footer_input_newsletter {
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
  padding: 2em;
  border-radius: 6px;
  background-color: #fff;
  margin-top: 30px;
}
.footer_input_newsletter input {
  padding: 12px 20px;
  width: 78%;
  border: 1px solid transparent;
  background-color: #f7f9fc;
  outline: none;
  border-radius: 6px;
  font-weight: 600;
  margin-top: 30px;
}
.footer_input_newsletter button {
  border: 1px solid transparent;
  padding: 12px 20px;
  background-color: #dc4f72;
  color: #fff;
  width: 20%;
  border-radius: 6px;
}
.footer_input_newsletter form {
  margin-bottom: 15px;
}
footer .row h3 {
  font-size: 20px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}
footer .row h4 {
  font-size: 18px;
  color: #2c3038;
}
footer .row li {
  margin: 5px 0;
  display: block;
  list-style: none;
}
footer .row li a {
  padding: 0;
  color: #656f7b;
  font-size: 15px;
  line-height: 25px;
  transition: all 0.5s;
}
footer .row li a:hover {
  color: #dc4f72;
}
.footer_bottom {
  border-top: 1px solid #eee;
  margin-top: 48px;
  padding-top: 24px;
}
.footer_bottom .footer_text p {
  line-height: 22px;
  font-size: 16px;
  color: #5a5a5a;
}
.footer_bottom .footer_text .footer_link {
  text-decoration: none;
  color: #5a5a5a;
  transition: all 0.5s;
}
.footer_bottom .footer_text .footer_link:hover {
  color: #dc4f72;
  opacity: 0.8;
}
.footer_icon li a {
  width: 36px;
  height: 36px;
  color: #2c3038;
}
.footer_icon li i {
  font-size: 15px;
  transition: all 0.3s;
}
.footer_icon li a:hover {
  color: #dc4f72;
}
/* back-to-top */
.back_to_top {
  position: fixed;
  bottom: 0;
  right: 2px;
  opacity: 0;
  transition: all 0.5s;
}
.back_to_top i {
  width: 50px;
  height: 45px;
  background-color: #dc4f72;
  color: #fff;
  line-height: 45px;
  text-align: center;
  border-radius: 3px;
  font-size: 22px;
  transition: all 0.5s;
  z-index: 1;
  outline: none;
}
.back_to_top:hover {
  opacity: 1;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 0.7;
}
/* setup */
.navbar_moon {
  width: 24px;
  height: 24px;
}
.navbar-toggler-icon {
  background-image: none !important;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
}

@media screen and (max-width: 991px) {
  .navbar-toggler-icon.fa {
    color: #fff;
    line-height: 34px;
    background-color: #dc4f72;
    border-radius: 0.25rem;
    border: none;
  }
  .navbar-toggler {
    padding: 0 !important;
    font-size: 24px;
  }
    header.header {
      height: auto;
      padding: 25px 0;
    }
  .navbar {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .navbar_moon {
    position: absolute;
    top: 9px;
    right: 46px;
  }
}

/* community */
.community .button button:first-of-type {
  border-color: #dc4f72;
  color: #dc4f72;
  font-weight: 700;
  padding: 0 30px;
  line-height: 52px;
  font-size: 14px;
  transition: all 0.3s;
}
.community .button button:hover:first-of-type {
  background-color: #dc4f72;
  color: #fff;
}
.community .button button:last-of-type {
  padding: 0 30px;
  font-size: 14px;
  color: #fff;
  background-color: #dc4f72;
  line-height: 52px;
  font-weight: 700;
  border-color: #dc4f72;
  transition: all 0.5s;
}
.community .button button:hover:last-of-type {
  color: #fff;
  background-color: #d62f58;
  border-color: #cf2952;
}
/* setup */
.navbar_moon {
  width: 24px;
  height: 24px;
}
.navbar-toggler-icon {
  background-image: none !important;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
}

@media screen and (max-width: 991px) {
  .navbar-toggler-icon.fa {
    color: #fff;
    line-height: 34px;
    background-color: #dc4f72;
    border-radius: 0.25rem;
    border: none;
  }
  .navbar-toggler {
    padding: 0 !important;
    font-size: 24px;
  }
  .navbar {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .navbar_moon {
    position: absolute;
    top: 9px;
    right: 46px;
  }
}

/* service breadcrumb  */
.service_breadcrumb {
  background-color: #f7f9fc;
  padding: 10px 20px;
}
ol.breadcrumb {
  margin-top: 100px;
  font-size: 14px;
}

li.breadcrumb-item a{
  text-decoration: none;
  color: #dc4f72;
  
}
li.breadcrumb-item a:hover{
  text-decoration: underline;
}
/* our service  */
.our_service_content h5 {
  color: #999;
}
.title h3 {
  font-weight: 800;
}
.left h3 {
  font-weight: 700;
}
.btn-primary {
  display:inline-block;
  color: white;
  background-color: #dc4f72;
  border-color: #dc4f72;
  transition: all 0.5s;
  font-size: 14px;
  font-weight: 700;
  line-height: 52px;
  padding: 0 30px;
  text-transform: uppercase;
}


.btn-primary:hover {
  background-color: #d62f58;
  border-color: #cf2952;
}
/* our service right */
.right .icon {
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 15px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.right img {
  max-width: 100%;
}

.right h4 a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.5s;
}
.right h4 {
  margin:0;
}

.right p{
  margin-bottom: 0;
  margin-top: 5px;
}
.right h4 a:hover {
  color: #cf2952;
}
.services_right{
  padding: 0 30px !important;
}
/* the best products  */
.TBP {
  background-color: #f7f9fc;
}
/* header title  */
.TBP .sub_tittle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.TBP h3 {
  font-weight: 700;
  font-size: 46px;
  line-height: 1;
  color: #2c302c;
}
/* item_content  */
.TBP .icon {
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  color: #dc4f72;
  background-color: #fff;
  text-align: center;
  padding: 0;
  margin-right: 10px;
  box-shadow: 1px 5px 7.5px rgba(0, 0, 0, 0.09);
}
.TBP .item_content a {
  display: inline-block;
  text-decoration: none;
  color: #2c3038;
  font-size: 18px;
  font-weight: 800;
  transition: 0.3s ease-in;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.TBP .item_content a:hover {
  color: #dc4f72;
}
.TBP .item_content p{
  margin: 0;
  font-size: 16px;
  color: #5a5a5a;
  line-height: 20.4px;
}
.TBP .item_content h6{
  margin: 0;
}
.TBP .img_hover {
  transition: 0.3s ease-in-out;
  border: 5px solid #f8f9fa;
}
.TBP .img_hover:hover {
  transform: translateY(-13px);
}
/* Featured services */
.FS .sub_tittle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.FS h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 1;
  color: #2c302c;
}

.FS h3 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  color: #2c302c;
}

.FS ul {
  list-style: none;
}
.FS li {
  font-size: 16px;
  line-height: 26px;
  color: #2c3038;
  margin: 15px 0;
  font-weight: 600;
}
.FS span {
  color: #dc4f72;
  background-color: rgba(220, 79, 114, 0.1);
  margin-right: 12px;
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.FS img {
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  height: 330.14px;
  display: block;
}
.FS img:hover {
  transform: translateY(-13px);
}
.FS .content_right p {
  margin: 20px 0;
}
.FS .content_left p {
  margin-top: 20px;
}
.content_left{
  padding: 2rem;
  border: 1px solid #f7f9fc;
  border-radius: 6px;
}
.content_right{
  padding: 2rem;
  border: 1px solid #f7f9fc;
  border-radius: 6px;
}
/* test */

@media screen and (min-width: 576px) {
  .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }

  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding-right: 15px;
  padding-left: 15px;
}
